<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />

    <title>Inicio - Aplicación</title>
  </head>
  <body>
    <h1>Bienvenido a la Aplicación</h1>
    <p>
      Esta es la página principal de la aplicación. Por favor, inicia sesión o
      regístrate para continuar.
    </p>
    <p>
      Si ya tienes una cuenta,
      <a href="login.html">inicia sesión</a>.
    </p>
    <p>
      Si eres nuevo aquí,
      <a href="registro.html">regístrate</a> para crear una cuenta.
    </p>
  </body>
</html>
